<%= turbo_frame_tag 'contacts_list' do %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Credit Card Number</th>
        <th>Credit Card Network</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.date_of_birth.strftime('%Y %B %d') %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.address %></td>
          <td><%= "**** **** **** #{contact.credit_card_last_four}" %></td>
          <td><%= contact.credit_card_network %></td>
          <td><%= contact.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= paginate @contacts %>